/* Navbar */
.navbar {
    background: rgba(103, 99, 99, 0.8);
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    backdrop-filter: blur(8px);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-center ul li {
    margin-right: 10px;
}

.navbar-center ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar-center ul li:hover {
    transform: scale(1.1);
}

.navbar-button {
    background: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 16px;
}

.navbar-button:hover {
    background-color: #e6e6e6;
    color: #333;
}

/* Main Content */
.main-content {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

/* Left Panel */
.left-panel {
    width: 200px;
    height: calc(100vh - 50px);
    background: #f0f0f0;
    overflow-y: auto;
}

.left-panel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-panel ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left-panel ul li:hover {
    background-color: #ccc;
    color: white;
}

.left-panel ul li:first-child {
    padding: 20px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 4px;
    overflow-y: auto;
    height: calc(100vh - 90px);
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(8px);
}

.content h2 {
    color: #333;
    animation: fadeIn 1s ease-in-out;
}

.content p {
    color: #666;
    line-height: 1.5;
    animation: fadeIn 1s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Responsive Styles */

/* Tablets and larger screens */
@media only screen and (min-width: 768px) {
    .navbar-container {
        justify-content: space-between;
    }

    .navbar-left,
    .navbar-right {
        flex-direction: row;
    }

    .navbar-center {
        text-align: center;
    }

    .navbar-center ul li {
        margin-right: 10px;
    }

    .main-content {
        flex-direction: row;
    }

    .left-panel {
        width: 200px;
        height: calc(100vh - 50px);
    }

    .left-panel ul li:first-child {
        padding: 20px 10px;
    }

    .content {
        margin-top: 4px;
        height: calc(100vh - 90px);
    }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
    .navbar {
        position: static;
        backdrop-filter: none;
    }

    .navbar-container {
        flex-direction: column;
    }

    .navbar-left,
    .navbar-right {
        flex-direction: column;
        align-items: center;
    }

    .navbar-center {
        margin-top: 10px;
        text-align: center;
    }

    .navbar-center ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-button {
        margin-right: 0;
    }

    .main-content {
        flex-direction: column;
        margin-top: 20px;
    }

    .left-panel {
        width: 100%;
        height: auto;
    }

    .left-panel ul li:first-child {
        padding: 10px;
    }

    .content {
        margin-top: 20px;
        height: auto;
    }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 767px) {
    .sidebar {
        width: 100%;
        padding: 20px;
    }

    .sidebar .logo_details,
    .sidebar li.profile {
        display: none;
    }

    .sidebar.open .logo_details,
    .sidebar.open li.profile {
        display: flex;
    }

    .sidebar li {
        margin: 10px 0;
    }

    .sidebar input {
        width: 100%;
        padding: 0 15px;
    }

    .sidebar.open input {
        padding: 0 35px;
    }

    .sidebar li a::after {
        content: none;
    }

    .sidebar li a .link_name,
    .sidebar li.profile .name,
    .sidebar li.profile .designation {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar li i {
        font-size: 22px;
    }

    .sidebar.open~.home-section {
        left: 0;
        width: 100%;
    }

    /* Adjustments for the home-section */
    .home-section {
        padding: 20px;
    }

    .home-section .text {
        margin: 10px;
    }
}

/* Media Query for Tablets and Small Desktop Screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        width: 100px;
    }

    .sidebar .logo_details .logo_name {
        opacity: 1;
    }

    .sidebar .nav-list {
        margin-top: 60px;
    }

    .sidebar li a .link_name {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar.open .logo_details .icon,
    .sidebar.open .logo_details .logo_name {
        opacity: 0;
    }

    .sidebar.open li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar.open li .tooltip {
        display: none;
    }

    .sidebar li.profile {
        width: 100%;
        padding: 20px;
        bottom: auto;
        left: 0;
        top: 0;
        transform: none;
    }

    .sidebar.open li.profile {
        width: 250px;
    }

    .sidebar .profile #log_out {
        width: 100%;
    }

    .sidebar.open .profile #log_out {
        width: 50px;
        background: var(--color-second);
    }

    .sidebar.open~.home-section {
        left: 100px;
        width: calc(100% - 100px);
    }
}